* {
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    margin: auto;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

button {
    padding: .5em 2em;
    border-radius: 1rem;
    border: none;
    background-color: #3f51b5;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
}